.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
    height: 100px;
}

.popup-content{
    display: flex;
    flex-direction: column;
    
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    width: 100px;
}

.popup-content-login {
    margin: 20px;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
  }
  .modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  

.link{
    text-decoration: none;
    color: black;
}

.header_icon{
    object-fit: contain;
    height: 50px;
    margin: 10px;
    margin-left: 80px;
}

.header_center{
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.header_center > input{
    border: none;
    /* width: 250px; */
    padding: 10px;
    outline-width: 0;
}

.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}

.signup{
    width: 300px;
    background-color: white;
    border-radius: 10px;
    height: 200px;
    margin: 20px;
}