/* .login-card{
    text-align: center;
    margin: auto;
    margin-top: 60px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(214, 214, 214, 0.75);
    width: 500px;
    height: 500px;
}

.login-text {
    display: inline;
}
 
.login-card > img {
    min-width: 100px;
    min-height: 100px;
    width: 50%;
}
  
  .card__info {
      margin-top: -9px;
      border-radius: 10px;
      padding: 20px;
      padding-top: 20px;
      border: 1;
    }
  
     */

     .login-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        height: 400px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 250px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        font-family: arial;
        justify-content: space-around;
        border-radius: 20px;
     }

   